extends layout

block scripts
    script(src="https://cdn.jsdelivr.net/npm/marked/marked.min.js")

block content

    h1 #{book.title}
    h3 #{book.author}

    div(style='margin-left: 20px; margin-top:20px')

    h4 Summary:
    p #{book.summary}
    
    h4 Story:
    hr
    h6 English
    p !{book.story.en}
    hr
    h6 Spanish
    p !{book.story.es}
    hr
    p
        a(href=book.url+'/update') Update
    p
        a(href=book.url+'/translate') Translate
    p
        a(href=book.url+'/delete') Delete