extends layout

block scripts
    script(src="https://cdn.jsdelivr.net/npm/marked/marked.min.js")

block content

    h1 #{book.title}
    h3 #{book.author}

    div(style='margin-left: 20px; margin-top:20px')

    h4 Summary:
    p #{book.summary}
    
    p ID: #{book._id}
    
    p Cover: #{book.cover}


    h5 Bugs
    ul
        each bug in bugs
            li
                a(href=`/bug/${bug._id}`) #{bug.sentenceIndex} #{bug.completed ? "Complete" : "Incomplete"}
        else
            ul There are no bugs only butterflies! 🦋
    
    p
        a(href=book.url+'/update') Update
    p
        a(href=book.url+'/delete') Delete